* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  /* background-image: url('https://res.cloudinary.com/dvovmo7yu/image/upload/v1653448389/Prueba-tecnica/noaa-99F4mC79j1I-unsplash_ptfv15.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
